@page "/"

<h1>Blazor Playground</h1>

<div>
    <p>Welcome!</p>
    <p>The purpose of this application is to explore, understand and demonstrate different aspects of Microsoft ASP.NET Blazor WebAssembly.</p>
    <p>It was created for personal experiments with the Blazor technology. It has no use case beside that.</p>
    <p>To understand the different pages hover over the the explanation paragraphs and work closely with the source code.</p>
    <div class="explanation">
        <p>This is an explanation.</p>
        <p>Feel free to read.</p>
    </div>
    <p></p>
    <p>This application was built purely for technical purposes. It was not meant to be pretty or stylish in any way.</p>
    <p>To compensate, here is an image of a cat:</p>
</div>
<a href="https://www.pexels.com/photo/animal-cat-face-close-up-feline-416160/" target="_blank">
    <img src="https://images.pexels.com/photos/416160/pexels-photo-416160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="height:60vh"/>
</a>



