<div class="component-spit-view">
    <div>
        <h4>Styled</h4>
        <div class="explanation">
            <p>This component uses isolated CSS styles.</p>
        </div>
        <StyledComponent />
    </div>
    <div>
        <h4>Plain</h4>
        <div class="explanation">
            <p>This component defines the same elements, classes and ids used by the styled component. No css should be applied</p>
        </div>
        <PlainComponent />
    </div>
</div>