@using Blazor.Playground.UI.Components.Lifecycle

<h3 class="headline">PlainComponent</h3>

<div class="block">
    <p>Text within the block</p>
    <ul>
        <ListElementComponent Value="Child Element within the block" />
    </ul>
</div>

<div id="isolatedid">
    Text:
</div>