
<div class="component-spit-view">
    <div>
        <h4>Content Binding</h4>
        <div class="explanation">
            <p>Explores binding of properties to input fields and output.</p>
        </div>
        <ContentBindingComponent />
    </div>
    <div>
        <h4>Event Binding</h4>
        <div class="explanation">
            <p>Explores binding and handling of (mouse) events.</p>
            <p>There is one .NET eventhandler bound by @@onmousemove and one JS eventlistener for click-events.</p>
            <p>Note that binding JS methods through attributes (like onclick - without @@) does not seem to work (anymore).</p>
            <p>This component also shows how to make use of the @@ref-attribute</p>
        </div>
        <EventBindingComponent />
    </div>
</div>


@code {
    
}
