@using Blazor.Playground.Common.Util
@using Microsoft.JSInterop
@inject IJSRuntime JsRuntime

<div>
    <div style="width: 200px; height: 200px; border: 1px solid grey" @ref="Canvas" @onmousemove="OnMouseMove">
    </div>
    <p><b>X: </b>@X</p>
    <p><b>Y: </b>@Y</p>
</div>

@code {
    private double X { get; set; }
    private double Y { get; set; }

    private ElementReference Canvas { get; set; }

    private void OnMouseMove(MouseEventArgs args)
    {
        // .Net 5: MouseEventArgs now support OffsetX/Y
        X = args.OffsetX;
        Y = args.OffsetY;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
            await JsRuntime.InvokeVoidAsync("addListener", Canvas, "click");
    }
}
