@using Microsoft.JSInterop
@inject IJSRuntime JsRuntime
@inherits APerformanceListComponent

<button @onclick="Reset">Refresh</button>
<ul id="@Id">
    @foreach (var value in CurrentValues)
    {
        <ListItemComponent Value="@value" RemoveElement="RemoveElement" />
    }
</ul>


@code { 
    private Guid Id { get; } = Guid.NewGuid();

    protected override async Task RemoveElement(string value)
    {
        var t1 = DateTime.Now;
        var index = CurrentValues.IndexOf(value);
        CurrentValues.RemoveAt(index);
        await JsRuntime.InvokeVoidAsync("componentInterop.deleteChild", Id, index);

        var diff = (DateTime.Now - t1).TotalMilliseconds;
        SetRendertime?.Invoke(diff);
    }
}
