@inherits APerformanceListComponent

<p><b>Elements:</b> @(Values.Count)</p>
<ul>
    @foreach (var value in Values)
    {
        <li>@value <span class="oi oi-trash" @onclick="() => RemoveElement(value)"></span></li>
    }
</ul>


@code {
}
