@inherits APerformanceListComponent

<button @onclick="Reset">Refresh</button>
<p><b>Elements:</b> @(CurrentValues.Count)</p>
<ul>
    @foreach (var value in CurrentValues)
    {
        <li>@value <span class="oi oi-trash" @onclick="() => RemoveElement(value)"></span></li>
    }
</ul>


@code {
}
