@inherits APerformanceListComponent

<p><b>Elements:</b> @(Values.Count)</p>
<ul>
    @foreach (var value in Values)
    {
        <SemiSmartListItemComponent Value="@value" RemoveElement="RemoveElement" />
    }
</ul>

@code {

}
