@inherits APerformanceListComponent

<button @onclick="Reset">Refresh</button>
<p><b>Elements:</b> @(CurrentValues.Count)</p>
<ul>
    @foreach (var value in CurrentValues)
    {
        <SemiSmartListItemComponent Value="@value" RemoveElement="RemoveElement" />
    }
</ul>

@code {

}
