@inherits ALifecycleComponent

<div>
    <input type="number" @bind="ListSize" />
    <button @onclick="CallGC">Call GC</button>
    <ListComponent NumberOfElements="ListSize"></ListComponent>
</div>
@code {
    private int ListSize { get; set; } = 3;


    private void CallGC()
    {
        GC.Collect();
    }
}
