.component-spit-view {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 10px;
}

.explanation::before {    
    content: "Explanation";
}

.explanation {
    background-color: lightgoldenrodyellow;
    padding: 0.5em;
    margin-bottom: 1em;
    width: fit-content;
    min-width: 25%;
}

.explanation * {
    display: none;
}

.explanation:hover:before {    
    content: none;
}

.explanation:hover * {
    display: block;
}

    .explanation:hover a, .explanation:hover span, .explanation:hover b, .explanation:hover i {
        display: inline;
    }